<h1>Editar Pousada</h1>

<% if(@inn.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @inn.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form'%>